body{
    background: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
    background-position: center;

    
} 

form{
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 10px;
    background-color: rgb(226, 133, 133);
}

h2{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px;
}

.C{
    padding: 15px;
}
button{
    padding: 5px;

}
.S{
    padding: 45px;
}

